<!DOCTYPE html>
<html>
<head>
<% include include/header.ejs %>
<title>Learn IT knowledge | GWangIT.com </title>
<meta name="description" content="Resources for Java, JAVA EE, JavaScript developer - Provides good
tutorial article and relative code example. Purpose is to post some good self-write article for the
people who love programming and relative technology">
<meta name="keywords" content="J2EE, Java, Hibernate, Spring, Java tutorials, Hibernate tutorials, Spring tutorials.">
</head>
<body>
<% include include/topNav.ejs %>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1>
                Recent Posts
            </h1>


            <% allPosts.forEach(function(post){ %>
            <div class="row">
                <div class="col-md-10">
                <h3>
                    <a href="posts/<%= post.postId %>"><%= post.title%></a>

                </h3>
                <p>
                    by <%= post.author %> |
                    <time><%= post.publish_date %></time>
                </p>
                </div>
                <div class="col-md-2">
                    <img class="pull-right" src="/images/<%= post.icon %>" width="100">
                </div>

            </div>
            <hr>
            <% }) %>



            <!--
            <ul class="pager">
                <li class="previous">
                    <a href="#">&larr; Older</a>
                </li>
                <li class="next">
                    <a href="#">Newer &rarr;</a>
                </li>
            </ul>
-->
        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">


        </div>

    </div>
    <!-- /.row -->

    <hr>
    <% include include/footer.ejs %>

</div>
</body>
</html>
